@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

html,
body {
    width: 100%;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    background: #f6f5f8;
    font-family: "Golos Text", sans-serif;
    padding-top: 60px;
}

.layout-padding {
    padding: 0 5rem;
}

.title-color {
    color: #323456;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    border-bottom: 1px #e9e9ee solid;
    background: #f6f5f8;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.types {
    display: flex;
    align-items: center;
    gap: 50px;
}

.type-elt {
    display: flex;
    gap: 10px;
    align-items: center;
}

.rounded-box {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #cecfd7;
}

.rounded-box-fonce {
    background: #b5b6bd;
}

.navbar,
a {
    display: flex;
    gap: 50px;
    text-decoration: none;
    color: #323456;
}

.login {
    display: flex;
    align-items: center;
    gap: 50px;
}

.join-btn {
    background-color: #e6e8e9;
    padding: 20px 50px;
    border-radius: 200px;
}

main {
    /* position: fixed; */
    top: 10;
}

.n {}